body{
    background-image: url("/static/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    margin: 10px auto;
    width: 75%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(255, 255, 255, 0.315)
}
header{
    text-align: left;
    background: rgba(255, 255, 255, 0.527);
}
header>h1{
    display: inline-block;
    margin-left: 15px;
    margin-right: 60%;
}
input, button{
    width: 300px;
    height: 20px;
    text-align: center;
    margin: 5px;
}
textarea{
    width: 80%;
    height: 150px;
    overflow-wrap: break-word;
    margin: 10px;
    padding: 5px;
}
.commentBox{
    width: 105%;
    height: 70px;
}
.message{
    margin-left: 52%;
    background: #315482;
}
.commButt{
    margin-left: 69%;
    background: lightseagreen;
}
button{
    height: 25px;
    width: 310px;
}
p{
    display: inline-block;
}
a{
    text-decoration: none;
    color: darkcyan;
}
#error{
    color: red;
}
.content{
    text-align: left;
}
.box{
    width: 75%;
    margin-left: 10%;
}
.box>p{
    margin-left: 5%;
}
.cBox{
    margin-left: 5%;
}
.cBox>h4{
    color: rgb(108, 44, 139);
}
.cBox>p{
    margin-left: 5%;
}